
/*写在前面，如果你想缩紧代码，让代码变的更加简介，可使用control+j亲测好用*/
body{ color: black; background-color: #efefef; margin: 0; font-family: "Arial"; position: relative;}
/*color: inherit;继承父级元素的颜色*/ 
a{ color: inherit;  text-decoration: none; }
ul li { list-style: none; } 
h1 h2 h3 h4 h5 h6 h7{ font-weight: normal; }
.icon { width:1px; height:1px; vertical-align: -0.5px; fill: currentColor; overflow: hidden; }
*{ margin: 0px; padding: 0px;  }
hr{ height: 0; border: none; border-top: 1px solid #dedede; }
/*clear: both;这个css设置的作用是可以清除元素在设置float时的的浮动（设置位置：子元素的父级元素）*/ 
.clearfix::after{ content: ''; display: block; clear: both;}
h1{font-size:26px}
h2{font-size:24px}
h3{font-size:22px}
[data-x].offset{ transform: translateY(40px); }
[data-x]{ transform: translateY(0px); transition: all 1s; }

/*position: fixed;使导航栏脱离文档流，即，高度不包含在div中，浮在页面上部*/
/*position: fixed; top: 0;  left: 0; 使导航栏脱离文档流，即，高度不包含在div中，设置完这三个，会发现导航栏都偏到了左边*/
/*（最好不要用width/height，容易出bug）设置完width: 100%; ，导航栏会回到右边，但是太偏右了，宽度比父级元素还宽*/ 
/*解决方法，由于topNavbar在加上width后不能左右padding（如上条标注），故在topNavbar下面加div设padding*/ 
.topNavbar{ display: block; padding: 16px 0px; color:black; position: fixed; top: 0;  left: 0; width: 100%; z-index: 1;}
/*如何让鼠标滚动是顶部导航栏发生变化？在js中建立一个条件语句，当scrollY>0时在topNavbar生成一个class，如果<=0则清除这个class*/
/*z-index: 1; 堆叠元素，使其在其他元素上方显示*/
.topNavbar.sticky{ background: white; padding:8px 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);color: #3d4451; z-index: 1;   }
.topNavbar-inner{ padding: 0 16px;}
.topNavbar .logo{ font-size: 22px; font-family: "Arial black";padding: 2px 8px 2px 0 ; color: #e06567; }
.topNavbar nav{ float: right; padding-top: 6px; }
.topNavbar nav>ul{ list-style: none; margin: 0; padding: 0; }
.topNavbar nav>ul>li{ float: left; padding-right: 16px; padding-left: 16px;position: relative; }
.topNavbar a{ float: left; text-decoration: none; }
/*内置元素a比li的高度高时设置 display: block; 可以解决*/
.topNavbar nav>ul>li>a{ font-size: 14px; color: inherit;font-weight: bold; padding: 4px 0; 
    display: block;position: relative;}

/*当鼠标放上去a标签下面出现一条线的方法如下：
    .topNavbar nav>ul>li>a{
        border-bottom: 3px solid transparent;  先设置一个透明的边框，这样可以避免在:hover时元素出现浮动 
        border-top: 3px solid transparent; 
    }
    .topNavbar nav>ul>li>a:hover{
        border-bottom: 3px solid #dc6465;
    }
}*/
/*新方法：利用伪元素:hover和:after,当hover时让下面的线条动画从左滑倒右边*/ 
.topNavbar nav>ul>li.active>a::after,
.topNavbar nav>ul>li.highlight>a::after{ content: ""; width:100%; height: 3px; display: block; /*一定要是block，不然不会到a标签下面去*/ 
    position: absolute; background: #e06567; top:100%; left: 0;animation: muluSlide 0.3s; }
.topNavbar .submenu{ display:none; position: absolute;/*从li中拿出来，脱离文档流*/ }
.topNavbar li.active .submenu{ display: block; right: 0; top: 110%;cursor: pointer;animation: submenuSlide 0.3s;background: white;}
.topNavbar .submenu li,.topNavbar .submenu li a{ white-space: nowrap;/*不要换行*/padding: 5px 8px;}
@keyframes muluSlide{ 0%{ width: 0; } 100%{ width: 100%; } }
@keyframes submenuSlide{ 0%{ margin-right: 100%;  /*他爸爸的100%*/ } 100%{ margin-right: 0%; } }

.banner{ height:515px; background-image: url('https://i.loli.net/2018/08/17/5b7697f528130.jpg'); background-position: center center;/*背景图居中*/ 
    background-size: cover;/*使背景图自己适应div*/ }
.banner .mask{ height: 515px; background-color: rgba(0, 0, 0, 0.7); }

/* 个人信息 */
/*设置卡片的最大宽度是940，如果页面变小，会自适应（如果只写宽度，则没有自适应）*/
main .userCard{ background-color: #ffffff; max-width: 900px;  margin-right: auto; margin-left: auto;/*使卡片居中*/ 
    box-shadow: 0px 1px 20px 0px  rgba(34, 34, 34, 0.1); }
/*外层div （userCard）不能加padding，则可以加在里面一层的div中*/
main .userCard .pictureAndText{ padding: 50px 50px 50px 0;display: flex;justify-content: space-between}
main .userCard .picture{ overflow: hidden ;width: 299px; height: 347px;  /*背景图居中*/ background-size: cover;margin-left:50px ; }
main .userCard .text{ margin-left:50px;  color: black; }
/*尽量不要用width/height*/
/*明确行高。因为在不同的机器上可能不一样*/ 
main .userCard .welcome{ background: #e6686a; color:white; padding: 4px 16px 4px 16px;line-height: 22px;position: relative; }
/*position也可以使元素脱离文档流，相对于窗口定位。 子元素上写absolute，父元素上写relative,子元素相对于父元素定位*/
main .userCard .welcome .triangle{ border:10px solid transparent; width: 0px;/*为了保险起见*/ border-left-color: #e6686a; 
    border-top-width: 0px;/*将边框上步的宽度去掉*/ position: absolute;left: 4px; top: 100%; /*使三角形移动到目标位置*/ } 
/*更多形状的画法可以搜索css tricks shapes*/
main .userCard .text h2{ margin-top: 18px; margin-bottom: 6px; }
main .userCard .text hr{ margin: 20px 0; }
main .userCard dl dt, main .userCard dl dd{ float: left; width: 50%;/*和上面的那个width相加等于100%即可以做到换行*/ 
    line-height: 22px;/*设置固定的行高解决dd dt字体大小不一样的问题*/ padding: 5px 0;/*设置上下元素的行高*/ }  
main .userCard dl dt{ font-weight: bold;    /*字体变粗*/ color: black; }
main .userCard dl dd{ color: #9da0a7; }
main .userCard dl dd.personMessage{ color: #044cf3; cursor: pointer;}
main .userCard .media { background: #e6686a; text-align:center; }
main .userCard .media a{ display: inline-block; width: 40px; padding: 5px 0; border-radius: 50%; 
    margin: 16px; transition: all 0.5s; text-align: center; }
main .userCard .media svg{ width: 30px; height: 30px;  /*因为svg不是内联元素所以可以加*/ fill: white; vertical-align: top; 
    margin: 0 0; display: inline-block; }
main .userCard .media a:hover{ background: #cf5d5f; }

body main { margin-top:-340px; }
main .downloadResume-wrapper{ text-align: center; margin-top: 28px; } 
/*如果内联元素居中，可在标签外加一个块级标签，并且设置text-align为居中*/ 
/*这里为什么不能设置display: block;  ？因为这个标签需要用边框包裹，用block的话就是块级，边框无限大*/   
main .downloadResume{ display: inline-block; text-align: center; padding: 12px 40px; font-size: 14px; line-height: 14px; 
    border:1px solid #cdcfd1; border-radius: 2px; font-weight: bold; transition: box-shadow 0.5s;/*添加hover过度效果*/ }

section h2{ text-align: center;}
section.skills h3{ font-size: 14px; line-height: 1.1; padding-right: 40px; }
section.skills .skillsList{ max-width: 900px; box-shadow: 0px 1px 20px 0px  rgba(34, 34, 34, 0.1); background: #ffffff; 
    margin: 10px auto 100px auto; padding: 60px 0 60px;}
section.skills .skillsList ol{ padding:40px 40px 10px 40px; }
section.skills .skillsList ol>li{ float: left; width: 48%;  box-sizing: border-box;  /*重点,不设置这个的话，设置padding元素会换行*/ }
/*将宽度设低，然后将奇数个li元素左浮动，偶数个元素右浮动*/
section.skills .skillsList ol li:nth-child(obb){  /*奇数个li元素*/ float: left; }
section.skills .skillsList ol li:nth-child(even){  /*偶数个li元素*/ float:right; }
section.skills .skillsList ol .progressBar{ height: 5px; background: #fae1e1; border-radius: 3px;  margin:4px 0 40px;overflow:hidden }
section.skills .skillsList ol .progressBar .progress{ background: #e6686a; width: 50%; /*默认进度条的长度，如需不一样，可另外单独加ID*/ 
    height: 100%; border-radius: 3px;transform: translateX(0%);transition: all 1s;}
/*让页面滑到skill-list的时候，技能条才动画出现。第一步：使它在元素有offset属性时translateX(-100%)使消失，
第二步：使它在元素有offset属性时translateX(-100%)使出现，第三步：在父级元素progressBar上添加overflow:hidden,防止溢出*/
section.skills.offset .skillsList ol .progressBar .progress{
    transform: translateX(-100%);
}
#progress-htmlcss { width: 80%;       /*htmlcss进度条的进度*/ }
#progress-javascript { width: 40%; }
#progress-jQuery { width: 40%; }
#progress-vue { width: 60%; }
#progress-react { width: 20%; }
#progress-http { width: 50%; }

section.portfolio { background: #fafafa; padding: 60px 0 60px 0;margin-bottom: 100px; }
section .boundary { clear: both; padding: 20px 0; max-width: 900px; margin: 0 auto; }
.boundary .sectionBody .project { border-top: 1px dashed #ccc; display: flex; justify-content: space-between; margin-top: 25px; padding-top: 35px; }
.boundary .sectionBody .project .project_intro { padding: 0 24px 0 0; }
.boundary .sectionBody .project .project_intro .project_intro_header { position: relative; margin-bottom: 8px; line-height: 1.3; text-align: left; }
.boundary .sectionBody .project .project_intro .project_intro_header .project_intro_header_title { font-size: 1.2em; font-weight: bold; display: inline; padding-bottom: 3px; }
.boundary .sectionBody .project .project_intro .project_intro_header .tech-tag-list .tech-tag-list_item { height: 18px; line-height: 18px; padding: 0 4px;margin: 0 2px; border-radius: 4px; display: inline-block; vertical-align: middle;font-family: 'Lucida Grande', arial; color: #fff; font-size: 6px; }

.tech-tag-list_Vue-cli{background: #25AF02}
.tech-tag-list_JavaScript{background: rgb(84, 210, 248)}
.tech-tag-list_CSS3{background: rgb(243, 123, 83)}
.tech-tag-list_HTML5{background: rgb(248, 207, 26)}
.tech-tag-list_Vue-router{background: rgb(103, 172, 86)}
.tech-tag-list_Vuex{background: #49C576}
.tech-tag-list_Swiper{background: rgb(175, 92, 25)}
.tech-tag-list_RAP{background: #E59427}
.tech-tag-list_Mock{background: #628E73}
.tech-tag-list_Webpack{background: rgb(187, 66, 35)}
.tech-tag-list_Sass{background: #CC6249}
.tech-tag-list_LeanCloud{background: rgb(38, 150, 129)}
.tech-tag-list_Express{background: rgb(49, 129, 221)}
.tech-tag-list_Prism{background: rgb(26, 64, 233)}
.tech-tag-list_Tween{background: rgb(150, 84, 236)}
.tech-tag-list_jQuery{background: rgb(255, 113, 255)}
.boundary .sectionBody .project .project_intro .project_intro_header_content { line-height: 1.7; text-align: justify; }
.boundary .sectionBody .project .project_intro .project_intro_header_content .project_intro_links {color: rgb(3, 27, 243); font-weight:bold;}
.boundary .sectionBody .project .project_intro .project_intro_header_content .list li{ list-style: inherit; margin-left: 15px; }
.boundary .sectionBody .project .project_thumb img { background: #eee; background-position: center center; height: 267px; background-size: cover; }



section.portfolio .slides .swiper-container { max-width: 900px; height: 380px; }
section.portfolio .slides .swiper-slide{ background: #dedede; }
/*怎么让自己设置的样式覆盖引入的其他的样式？不要用importent,把自己的样式放到其他样式之后就好了*/
section.portfolio .slides .swiper-button-prev{ width:60px; height:60px; border-radius: 50%; left: 8%; }
/*不要用直接用background设置背景，会把图标覆盖掉*/
section.portfolio .slides .swiper-button-next{ width:60px; height:60px; border-radius: 50%; right: 8%; }
section.portfolio{ text-align: center; }
section.portfolio .slides{ width: 100%; display: inline-block; }

/* 留言 */
section.message{ background: #fafafa; padding: 60px 0 200px 0;margin: 0px auto 100px; }
section.message .postMessage{ max-width: 900px; margin: 30px auto 16px; text-align: left;}
section.message .postMessage div{margin-bottom: 5px;display: inline-block}
section.message .postMessage input{border-radius: 4px;border:1px solid #b8babd}
section.message .postMessage .submit{background: white;width: 54px; line-height: 16px;}
section.message .postMessage .submit:hover,:focus{ background: #fff; border-color: #409eff; color: #409eff; }
section.message .postMessage .content{ display: inline-block; }
section.message ol{ max-width: 900px;; margin: 0 auto; list-style: none; border-top: 1px dashed #ccc;}
section.message ol li{ padding: 16px 16px 16px 0; border-bottom: 1px dashed #ccc; }

section.download { position: fixed; top: 50%; transform: translateY(-50%); right: 0; z-index: 1; }
section.download .downloadResume { display: inline-block; font-size: 14px; padding: 18px 22px 12px; color: #f4f4f4; font-weight: bold; writing-mode: vertical-lr; /* 竖起来显示 */ letter-spacing:1px; background: #cf5d5f; font-family: Arial, sans-serif; border: solid 0 #e3edf4; border-bottom: 2px solid #cf5d5f; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; opacity: 0.8; }
@media(max-width:500px){ 
  .topNavbar nav>ul>li{ margin-right:1px; margin-left:1px;} 
  .topNavbar nav>ul>li>a{font-size: 10px;padding-bottom: 2px;padding-top: 2px; } 
  .topNavbar .logo{ font-size: 18px; } 
  main .userCard .media{display: none} 
  main .userCard .picture{display: none} 
  section.skills .skillsList ol li{ width: 100%;} 
  .boundary .sectionBody .project { display: inline-block;} 
  .project_intro { margin: 0 12px; } 
}